@import "./css/typography.css";
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.cool-top-div {
    background-image: radial-gradient(
            circle at top center,
            rgba(59, 130, 246, 0.5),
            transparent 70%
    );
}

@theme inline {
    --font-sans: Quantico, Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
    --color-secondary-text: #c7d1cc;
    --color-secondary: #1e2229;
    --color-grenn-100: #E8FFD7;
    --color-green-200: #93DA97;
    --color-green-300: #5E936C;
    --color-green-400: #3E5F44;
    --color-green-500: #001524;
    --color-base: #080a0c;
    --color-text: #e3e8e6;
}

.green-gradient {
    background: radial-gradient(
            circle farthest-corner at 10% 20%,
            rgba(14, 174, 87, 1) 0%,
            rgba(12, 116, 117, 1) 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
